
#columns > * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.services__list__items > div {
    display: flex;
    flex-direction: column;
}
#we_can_help{
    padding: 10% 0 200px;
    background: black;
    color: white;
}
#we_can_help .lg__font{
    font-size: 57px!important;
    line-height: 60px;
}
#we_can_help .lg__font img{
    position: relative;
    top: -8px;
    left: 5px;
    width: auto;
}
.service__list__2{
    margin-top: -300px;
}
@media(max-width: 4000px){
    .colored__columns__wrapper{
        display: flex;
        width: 100%;
        max-width: 1250px;
        margin: auto;
    }
}
@media(max-width: 2000px){
    .colored__columns__wrapper{
        max-width: 890px;
    }
}
.services__list{
    margin-top: 70px;
    padding-right: 30px;
}
.services__list.lower__list{
    margin-top: 35%;
}

.services__list__subtitle{
    max-width: 110px;
    padding: 35px 0 25px;
    display: none;
}
.services__list__items{
    margin-top: 30px
}
#columns{
    background: linear-gradient(to right, black 50%, black 50%);
    color: white;
    position: relative;
}
#columns:after{
    content: "";
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.colored__column{
    z-index: 3;
}

#columns.columns__mustard:after{
    background-color: #FEA904;
    opacity: 1;
}
#columns.columns__sky:after{
    background-color: #01FEEB;
    opacity: 1;
}
#columns.columns__fuchsia:after{
    background-color: #FE0062;
    opacity: 1;
}
#columns.columns__sea:after{
    background-color: #005CFE;
    opacity: 1;
}
/* .columns__mustard{
    background: linear-gradient(to right, #FEA904 50%, black 50%)!important;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1)!important;
} 
.columns__sky{
    background: linear-gradient(to right, #01FEEB 50%, black 50%)!important;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.columns__fuchsia{
    background: linear-gradient(to right, #FE0062 50%, black 50%)!important;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.columns__sea{
    background: linear-gradient(to right, #005CFE 50%, black 50%)!important;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
} */
.colored__column{
    background: black;
}
.colored__column{
    padding: 10% 20px!important;
    max-height: 900px;
    height: 100vh;
}
.service__list__3 .services__list__items .row{
    position: relative;
}
.service__list__3 .services__list__items .row p:first-child span{
    position: absolute;
    font-size: 13px;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    width: 100px;
    line-height: 16px;
    right: unset;
    bottom: 5px;
    margin-left: 10px;
}
.services__list__items .row a{
    color: white;
    text-decoration: none;
}
@media(max-width: 4000px){
    .colored__column h4{
        font-size: 40px;
        line-height: 42px!important;
        font-weight:600!important;
        font-family: 'MarkPro';
        margin: 0px;
        color: black;
        padding: 0 15px;
        position: relative;
        z-index: 2;
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        letter-spacing: -3px;
    }
    .colored__column__copy{
        position: relative;
        top: 100px;
    }
    .colored__floating h4{
        font-size: 60px;
        line-height: 62px;
        font-weight: bold;
        font-family: 'MarkPro';
        letter-spacing: -3px;
        top: 15px;
        position: relative;
    }
}
@media(max-width: 1700px){
    .colored__column h4{
        font-size: 2.5vw;
    }
    .colored__column__copy{
        position: relative;
        top: 0px;
    }
    .colored__floating h4 {
        font-size: 3vw;
        top: 15px;
        position: relative;
    }
}
.services__list__items .row a{
    letter-spacing: 0px!important;
}

.colored__column p{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    font-weight: 400;
    height: auto;
    color: black;
    padding: 0 15px;
    position: relative;
    z-index: 2;
    opacity: 0;
    margin-top: 20px;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.recognition__one__copy svg{
    margin-top: 30px;
}
.colored__column:hover p{
    height: auto;
    color: black;
    margin: 20px 0px;opacity: 1;
}
.colored__column:hover h4{
    color: black;
    opacity: 1;
}
@media(max-width: 4000px){
    .colored__floating{
        position: absolute;
        z-index: 2;
        max-width: 800px;
        top: 4.6vw;
        width: 100%;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        z-index: 5;
        margin-left: 20px;
        left: 34.5%;
    }
}
@media(max-width: 3000px){
    .colored__floating{
        left: 29.2%;
        top: 6.2vw;
    }
}
@media(max-width: 2600px){
    .colored__floating{
        left: 26.1%;
        top: 6.8vw;
    }
}
@media(max-width: 2000px){
    .colored__floating{
        left: 18.7%;
        top: 3.8vw;
    }
}
@media(max-width: 1280px){
    .colored__floating{
        left: 14.7%;
        top: 3.8vw;
    }
}

.service__list__4{
    opacity: 1;
}
.service__list__5{
    margin-top: 110px!important;
}
.column-1, .column-2, .column-3{
    position: relative;
}
.colored__sub__svg h4{
    font-size: 13px;
    color: white;
    opacity: 1!important;
    font-family: Roboto;
    font-weight: 400!important;
    letter-spacing: 0px!important;
}
.colored__column:hover .colored__sub__svg h4{
    color: white!important;
}
.c-f2ab3d__column .colored__sub__svg h4{
    opacity: 0!important;
}
.c-73faeb__column .colored__sub__svg h4{
    opacity: 0!important;
}
.c-ea3464__column .colored__sub__svg h4{
    opacity: 0!important;
}
.c-1d61f5__column .colored__sub__svg h4{
    opacity: 0!important;
}
.colored__sub__svg p{
    display: none;
}
.colored__floating__hidden{
    opacity: 0!important;
}
.location__icon{
    position: relative;
    left: -15px;
    top: 50px;
}

.colored__floating p{
    margin-top: 10px;
    max-width:650px;
}

.colored__column{
    overflow: hidden;
    position: relative;
}
.colored__column:after{
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}
.c-f2ab3d__column{
    bottom:0px;
    background: #FEA904;
    transition: all ease-in-out 0.5s;
}
.c-73faeb__column {
    bottom:0px;
    background: #01FEEB;
    transition: all ease-in-out 0.5s;
}
.c-ea3464__column{
    bottom:0px;
    background: #FE0062;
    transition: all ease-in-out 0.5s;
}
.c-1d61f5__column{
    bottom:0px;
    background: #005CFE;
    transition: all ease-in-out 0.5s;
}
.offices__one{
    margin-top: 25%;
    display: none;
}
.offices__one .offices__first__copy h4{
    font-size: 18px;
    font-weight: bold;
    font-family: MarkPro;
    line-height: 20px;
    letter-spacing: -0.7px;
}
.offices__two{
    margin-top: 150px;
}
.offices__two__copy{
    margin-top: 0px;
}
.offices__two__copy p{
    padding-right: 30px;

}
.offices__two__copy h4{
    font-size: 18px;
    font-weight: bold;
    font-family: MarkPro;
    line-height: 20px;
    letter-spacing: -0.7px;
}
.offices__three .floating__element{
    position: absolute;
    top: 0px;
}
.offices__three{
    margin-top: -50px;
   
}
.offices__four{
    margin-bottom: 30%;
}
.office__photo{
    margin-top: 60px;
    opacity: 0;
    display: none;
}
.offices__buttons{
    width: 100%;
    margin-top: 80px;
    display: flex;
}
.button__office{
    height: 3px;
    width: 97%;
    background: #707070;
/* cursor: pointer; */}
.button__office.active{
    background: black;
}
.button__office.second__button{
    margin-left: 10px;
}
.office__name{
  transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  opacity: 0;
}
.office__name.show{
    opacity: 1;
}
.office__name.hide{
    opacity: 0;
}
.office__photo.show{
    opacity: 1;
    display: block;
}
.office__photo.hide{
    opacity: 0;
}
#recognition{
    background: black;
    color: white;
}
.recognition__two h4{
    font-size: 18px;
    font-weight: bold;
}
.recognition__one__copy{
    padding-left: 5px;
    max-width: 480px;
    margin: 35px 0;
    display: none;

}
.select__clients .recognition__one__copy{
    opacity: 0;
    pointer-events: none;
}
.recognition__one__copy.active{
    display: block;
}
.recognition__wrapper{
    padding-top: 80px;
    padding-bottom: 100px;
}
.recognition__list__item h3{
/* cursor: pointer; */}
.recognition__list__item.active h3{
    color: #FE0062;
}
.recognition__list__item{
/* cursor: pointer; */}
.recognition__list__item > *{
    pointer-events: none;
}

.recognition__list__wrapper {
    justify-content: space-between;
}
.recognition__list__two .recognition__one__copy h4{
    font-size: 18px;
    font-weight: bold;
}
#Componente_53_1{
    position: relative;
    left: 5px;
}
.recognition__list__item{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
.client__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
@media(max-width: 4000px){
    .client__logo img{
        width: 180px;
    }
    #clients{
        background: black;
        padding: 0% 0px 400px;
    }
    #clients .container__custom{
        max-width: 950px;
    }
}
@media(max-width: 2000px){
    .client__logo img{
        width: 140px;
    }
    #clients{
        background: black;
        padding: 0% 0px 300px;
    }
    #clients .container__custom{
        max-width: 990px;
    }
}
#recognition_list{
    background: black;
    color: white;
}
.recognition_list__top{
    left: 5px;
    position: relative;
    margin-bottom: 30px;
}
.colored__column *{
    pointer-events: none;
}
.recognition__list__item{
    padding: 10px 0;
}
.column__svg{
    position: absolute;
    bottom: 10%;
    width: 100%;
    z-index: 11;
    left: 0;
}
.column__svg svg > *{
    pointer-events: none;
}
.column__svg svg path, .column__svg svg polygon, .column__svg svg circle{
    fill: white;
}
.colored__column__svg__black  path,
.colored__column__svg__black  polygon,
.colored__column__svg__black  circle {
    fill: black!important;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.services__list.c-f2ab3d .services__list__items .row p.colored__scroll{
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.services__list.c-f2ab3d .services__list__items .row .colored__scroll img{
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.services__list.c-f2ab3d .services__list__items .row p.colored__scroll:first-child{
    color: #FEA904;
}
.services__list.c-f2ab3d .services__list__items .row .colored__scroll img{
    filter: invert(29%) sepia(92%) saturate(450%) hue-rotate(331deg) brightness(98%) contrast(93%);
}
.services__list.c-73faeb .services__list__items .row p.colored__scroll:first-child{
    color: #01FEEB;
}
.services__list.c-73faeb .services__list__items .row .colored__scroll img{
    filter: invert(84%) sepia(31%) saturate(612%) hue-rotate(110deg) brightness(105%) contrast(96%);
}
.services__list.c-ea3464 .services__list__items .row p.colored__scroll:first-child{
    color: #FE0062;
}
.services__list.c-ea3464 .services__list__items .row .colored__scroll img{
    filter: invert(78%) sepia(72%) saturate(2119%) hue-rotate(322deg) brightness(95%) contrast(93%);
}
.services__list.c-1d61f5 .services__list__items .row p.colored__scroll:first-child{
    color: #005CFE;
}
.services__list.c-1d61f5 .services__list__items .row .colored__scroll img{
    filter: invert(87%) sepia(80%) saturate(4616%) hue-rotate(219deg) brightness(100%) contrast(92%);
}
#recognition .recognition__one__copy{
    display: block;
}
.click__more{
    font-size: 12px;
    font-family: roboto;
    position: absolute;
    line-height: 15px;
    color: white;
    font-weight: 400;
    bottom: 6px;
    margin-left: 20px;
    max-width: 80px;
}
@media(max-width: 1440px){
    .service__list__3 .services__list__items .row p:first-child {
        right: 5%;
    }
}
@media(max-width: 1024px){
    .offices__three {
        margin-top: 0px;
    }
    .colored__columns__wrapper {
        max-width: 690px;
    }
    .click__more{
        bottom: -3px;
    }
    #clients .container__custom {
        max-width: 680px;
    }
    .colored__column {
        min-height: 730px;
        height: 730px;
    }
    .services__list.service__list__3{
        margin-top: 50%;
    }
    .client__logo img {
        width: 120px;
    }
    .select__clients{
        display: none;
    }
    #we_can_help .lg__font {
        font-size: 50px!important;
        line-height: 52px;
    }
    .service__list__3 .services__list__items .row p:first-child {
  
    }
    .offices__two__copy {
        margin-top: 3%;
      }
}
@media(max-width: 768px){
    .colored__columns__wrapper {
        max-width: 500px;
    }
    .colored__column h4 {
        font-size: 20px;
        line-height: 30px!important;
    }
    .colored__floating{
        max-width: 300px;
    }
    .recognition__wrapper {
        padding-bottom: 50px;
    }
    .offices__three {
        margin-top: 100px;
    }
    #we_can_help .lg__font {
        font-size: 25px!important;
        line-height: 31px;
        display: flex;
        flex-direction: column;
    }
    #we_can_help .lg__font img {
        top: -6px;
        height: 25px;
        width: auto;
    }
    .service__list__3 .services__list__items .row{
        display: flex;
        flex-direction: column;
    }
    
}
.service__list__3 .services__list__items .row p:first-child span {
    position: relative;
    bottom: 0px;
    margin-left: 0px;
}
#we_can_help .lg__font img {

    margin-right: 5px;
}
.service__list__5 {
    margin-top: 40px!important;
}
.recognition__list__item {
    margin: 0px 0;
}
.recognition__list__one{
    top: 25px;
}

.colored__sub__svg h4{
    font-size: 13px;
}

@media(max-width: 500px){
    #columns .container__custom{
        padding: 0;
    }
    .click__more {
        bottom: 2px;
    }
    .offices__one{
        display: none;
    }
    #columns .colored__column {
        padding: 20px 0px!important;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        min-height: auto;
    }
    #columns .colored__column .colored__column__copy p{
        padding-right: 20px;
    }
    #columns {
        height: auto;
        padding-bottom: 100px;
    }
    .colored__columns__wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 30px;
    }
    .colored__sub__svg{
        display: none;
    }
    .colored__column h4 {
        font-size: 24px;
        line-height: 32px;
    }
    #columns{
        height: auto;
    }
    .column__svg p{
        display: none!important;
    }
    .column__svg h4{
        font-size: 13px;
    }

    .colored__column p{
        height: auto!important;
        display: block;
        margin: 25px 0;
        font-size: 16px;
        min-height: auto;
        overflow: unset;
    }
    

    .colored__column p, .colored__column h4{
        color: black;
        position: relative;
        z-index: 5;
    }
    .column__svg {
        bottom: unset;
        position: relative;
    }
    .colored__floating {
        position: relative;
        padding: 0 45px 0 25px;
        top: 0;
        margin-top: 100px;
        left: 0;
        width: 100%!important;
        max-width: 100%!important;
    }
    .colored__floating .row{
        border-top: solid 2px #ffffff;
        padding-top: 15px;
    }
    .space__column{
        display: none;
    }
    .colored__column h4{
        opacity: 1;
        color: white;
    }
    .colored__column p{
        color: white;
        opacity: 1;
        font-size:8.5px;
    }
    .colored__floating h4 {
        font-size: 37px;
        line-height: 40px;
    }
    .offices__two__photo {
        padding: 30px 0 30px;
    }
    .offices__buttons {
        margin-top: 50px;
    }
    .button__office {
        height: 3px;
    }
    .offices__three .md__font
    {
        font-size: 16px;
    }
    .offices__three .lg__font {
        font-size: 33px!important;
        line-height: 35px;
    }
    .services__list.lower__list {
        margin-top: 20px;
    }
    .services__list{
        margin-top: 20px;
    }
    .services__list__items .row{
        display: flex;
        flex-direction: column;
    }
    .service__list__5 {
        margin-top: 35px!important;
    }
    #we_can_help .lg__font img {
        left: 2px;
    }
    .recognition__list__copy{
        display: none!important;
    }
    .recognition__list__two{
        display: none!important;
    }
    .recognition__wrapper {
        padding-bottom: 0%;
        padding-top: 35px;
    }
    .chose__us{
        padding-top: 75px;
    }
    .recognition__list__item.active h3 {
        color: white;
    }
    .select__clients{
        display: none!important;
    }
    .service__list__4{
        display: block;
    }
    #clients {
        padding: 0% 0px 0px;
    }
    #we_can_help .lg__font {
        font-size: 35px!important;
        line-height: 40px;
    }
    .services__list.c-f2ab3d .services__list__items .row p:first-child{
        color: #FEA904;
    }
    .services__list.c-f2ab3d .services__list__items .row img{
        filter: invert(29%) sepia(92%) saturate(450%) hue-rotate(331deg) brightness(98%) contrast(93%);
    }
    .services__list.c-73faeb .services__list__items .row p:first-child{
        color: #01FEEB;
    }
    .services__list.c-73faeb .services__list__items .row img{
        filter: invert(84%) sepia(31%) saturate(612%) hue-rotate(110deg) brightness(105%) contrast(96%);
    }
    .services__list.c-ea3464 .services__list__items .row p:first-child{
        color: #FE0062;
    }
    .services__list.c-ea3464 .services__list__items .row  img{
        filter: invert(78%) sepia(72%) saturate(2119%) hue-rotate(322deg) brightness(95%) contrast(93%);
    }
    .services__list.c-1d61f5 .services__list__items .row p:first-child{
        color: #005CFE;
    }
    .services__list.c-1d61f5 .services__list__items .row img{
        filter: invert(87%) sepia(80%) saturate(4616%) hue-rotate(219deg) brightness(100%) contrast(92%);
    }
    .offices__two__copy {
        margin-top: 5%;
    }
    .location__icon{
        display: none;
    }
    .client__logo img {
        width: 120px;
    }
}
@media (max-width: 920px) and (orientation: landscape) {

    .colored__floating {
        max-width: 400px;
    }
    .location__icon {
        display: none;
    }
}
@media (max-width: 750px) and (orientation: landscape) {
    .colored__floating {
        left: 13.7%;
    }
    .colored__floating h4 {
        letter-spacing: -1px;
    }
    .colored__columns__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .colored__columns__wrapper .space__column{
        display: none!important;
    }
    .colored__columns__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 440px;
        margin: auto;
    }
    .colored__column {
        min-height: auto;
        height: auto;
        margin-top: 90px;
    }
    .colored__floating {
        position: relative;
    }
    .column__svg {
        position: relative;
        bottom: 0;
    }
    .colored__column {
        padding: 0px 10px 0 0!important;
        display: flex;
        flex-direction: column-reverse;
        pointer-events: none;
    }
    .colored__column:hover h4 {
        color: white;
        opacity: 1;
    }
    .colored__column h4 {
        color: white;
        opacity: 1;
    }
    .colored__column:hover p {
        color: white;
        opacity: 1;
    }
    .colored__column p {
        color: white;
        opacity: 1;
    }
    .column__svg {
        margin-top: 20px;
    }
    .colored__sub__svg{
        display: none;
    }
    #columns {
        padding-bottom: 100px;
    }
    .location__icon {
        display: none;
    }
    .offices__two__photo{
        padding: 0;
        margin: 20px 0;
    }
    .offices__first__copy, .offices__two__copy{
        max-width: 300px
    }
    .offices__three {
        margin-top: 60px;
    }
    #clients .container__custom {
        max-width: 440px;
    }
}
@media (max-width: 600px) and (orientation: landscape) {
    .colored__floating {
        left: 7.7%;
    }
}