@media(max-width:4000px ){
    .work__list__project__img img{
        width: 99%;
        object-fit: cover;
        min-height: 650px;
    }
    .work__list__project__img *{
        cursor: none!important;
    }
    .work__list__project__img img{
        pointer-events: none;
    }
}
@media(max-width:1700px ){
    .work__list__project__img img{
        min-height: 490px;
    }
}
.work__list{
    background: #000000;
    padding: 100px 0;
    overflow: hidden;
}
.work__list__project img{
    transition: transform 1.2s cubic-bezier(.215,.61,.355,1);
}
.work__list__project a:hover img{
    transform: scale(1.05) translateZ(0);
}
.work__list__project{
    overflow: hidden;
}
.work__list__project__img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.work__list__project{
    padding: 0 5px;
    height: auto;
    overflow: hidden;
    display: inline-table;
}
.work__list__project.lower__project{
    margin-top: 20%;
}

.work__list__project:hover .work__list__project__info{
    opacity: 1;
    transition: opacity  ease-in-out 0.5s;
}
.work__list__project__info{
    display: flex;
    color: white;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    pointer-events: none;
    z-index: 5;
    transition: opacity  ease-in-out 0.5s;
    margin-top: 20px;
}
.work__list__description{
    margin-top: 15px;
}
.work__list__project a{
    display: block;
    height: auto;
}
.work__list__project a:hover{
    text-decoration: none!important;
}
.work__list__project__img{
    position: relative;
    width: 100%;
}
@media(max-width: 4000px){
    .work__list__project:nth-child(odd){
        margin-top: -2.5vh;
    }
}
@media(max-width: 2000px){
    .work__list__project:nth-child(odd){
        margin-top: -5.5vh;
    }

}
@media(max-width: 1500px){
    .work__list__project:nth-child(odd){
        margin-top: -7.5vh;
    }

}

@media(max-width: 1280px){
    .work__list__project:nth-child(odd){
        margin-top: -5vh;
    }

}
/* .work__list__project__img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009c;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.work__list__project__img:hover::after{
    opacity: 1;
} */

@media(max-width: 1024px){
    .work__list__project__img img {
        min-height: 350px;
    }
}
@media(max-width: 768px){
    .work__list__project__img img {
        min-height: 250px;
    }
    .work__list {
        padding: 60px 0;
    }
    .hero__component {
        padding-bottom: 0px;
    }
    .work__list__project:nth-child(odd) {
        margin-top: -6.5vh;
    }
}
@media(max-width: 500px){
    .work__list__project__info .md__font {
        font-size: 14px;
    }
        .hero__component.workPage {
          margin-top: -119.5vh!important;
          padding-bottom: 0px;
        }
    
    .work__list__project__info {
        flex-direction: column;
    }
    .work__list {
        margin-bottom: 0px;
        padding: 70px 0 70px;
    }
    .work__list__project__img img {
        min-height: 160px;
    }
 
    .work__list__project__info{
        display: none;
    }
    .work__list__project__img {

        margin-bottom: 10px;
    }
    .work__list__project:nth-child(odd) {
        margin-top: 0;
    }
    .work__list__project.lower__project {
        margin-top: 0%;
    }
}
@media (max-width: 920px) and (orientation: landscape) {
    .hero__component {
        margin-top: -133vh;
        padding-bottom: 0px;
    }
    .work__list {
        padding: 20px 0 70px;
    }
    .work__list__project:nth-child(odd) {
        margin-top: -18vh;
    }
}
@media (max-width: 750px) and (orientation: landscape) {
    .work__list__project__img {
        height: auto;
    }
    .hero__component {
        margin-top: -120vh!important;
        padding-bottom: 0px;
    }
    .work__list {
        padding: 80px 0 70px;
    }
  }
  @media (max-width: 650px) and (orientation: landscape) {
    .hero__component {
        margin-top: -133vh!important;
    }
  }