.minority {
  background: url("../images/addCulture/categories/minorityBanner.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media (max-width: 4000px) {
  .minority {
    background-size: 1930px;
  }
}

@media (max-width: 2560px) {
  .minority {
    background-size: 1700px;
  }
}
