
.main__section__wrapper.blog__page{
    margin-top: -100vh;
    padding: 100px 0;
}
.grid img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "one one two two" "one one two two";
  }
.grid-1 div:nth-child(1) { grid-area: one; }
.grid-1 div:nth-child(2) { grid-area: two; }

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one two three";
}
.grid-2 div:nth-child(1) { grid-area: one; }
.grid-2 div:nth-child(2) { grid-area: two; }
.grid-2 div:nth-child(3) { grid-area: three; }

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two four" "one one three four";
}
.grid-3 div:nth-child(1) { grid-area: one; }
.grid-3 div:nth-child(2) { grid-area: two; }
.grid-3 div:nth-child(3) { grid-area: three; }
.grid-3 div:nth-child(4) { grid-area: four; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one four five";
}
.grid-4 div:nth-child(1) { grid-area: one; }
.grid-4 div:nth-child(2) { grid-area: two; }
.grid-4 div:nth-child(3) { grid-area: three; }
.grid-4 div:nth-child(4) { grid-area: four; }
.grid-4 div:nth-child(5) { grid-area: five; }

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one five six" "four four five six";
}
.grid-5 div:nth-child(1) { grid-area: one; }
.grid-5 div:nth-child(2) { grid-area: two; }
.grid-5 div:nth-child(3) { grid-area: three; }

.grid-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one four seven" "five five six seven";
}
.grid-6 div:nth-child(1) { grid-area: one; }
.grid-6 div:nth-child(2) { grid-area: two; }
.grid-6 div:nth-child(3) { grid-area: three; }
.grid-6 div:nth-child(4) { grid-area: four; }
.grid-6 div:nth-child(5) { grid-area: five; }
.grid-6 div:nth-child(6) { grid-area: six; }
.grid-6 div:nth-child(7) { grid-area: seven; }

.grid-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one four eight" "five six seven eight";
}
.grid-7 div:nth-child(1) { grid-area: one; }
.grid-7 div:nth-child(2) { grid-area: two; }
.grid-7 div:nth-child(3) { grid-area: three; }
.grid-7 div:nth-child(4) { grid-area: four; }
.grid-7 div:nth-child(5) { grid-area: five; }
.grid-7 div:nth-child(6) { grid-area: six; }
.grid-7 div:nth-child(7) { grid-area: seven; }
.grid-7 div:nth-child(8) { grid-area: eight; }

.grid-8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one four eight" "five six seven eight" "nine six . .";
}
.grid-8 div:nth-child(1) { grid-area: one; }
.grid-8 div:nth-child(1) { grid-area: two; }
.grid-8 div:nth-child(1) { grid-area: three; }
.grid-8 div:nth-child(1) { grid-area: four; }
.grid-8 div:nth-child(1) { grid-area: five; }
.grid-8 div:nth-child(1) { grid-area: six; }
.grid-8 div:nth-child(1) { grid-area: seven; }
.grid-8 div:nth-child(1) { grid-area: eight; }
.grid-8 div:nth-child(1) { grid-area: nine; }

.grid-9 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one four eight" "five six seven eight" "nine six ten ten";
}
.grid-9 div:nth-child(1) { grid-area: one; }
.grid-9 div:nth-child(2) { grid-area: two; }
.grid-9 div:nth-child(3) { grid-area: three; }
.grid-9 div:nth-child(4) { grid-area: four; }
.grid-9 div:nth-child(5) { grid-area: five; }
.grid-9 div:nth-child(6) { grid-area: six; }
.grid-9 div:nth-child(7) { grid-area: seven; }
.grid-9 div:nth-child(8) { grid-area: eight; }
.grid-9 div:nth-child(9) { grid-area: nine; }
.grid-9 div:nth-child(10) { grid-area: ten; }

.grid-10 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "one one two three" "one one four eigth" "five six seven eigth" "nine six ten eleven";
}
.grid-10 div:nth-child(1) { grid-area: one; }
.grid-10 div:nth-child(2) { grid-area: two; }
.grid-10 div:nth-child(3) { grid-area: three; }
.grid-10 div:nth-child(4) { grid-area: four; }
.grid-10 div:nth-child(5) { grid-area: five; }
.grid-10 div:nth-child(6) { grid-area: six; }
.grid-10 div:nth-child(7) { grid-area: seven; }
.grid-10 div:nth-child(8) { grid-area: eigth; }
.grid-10 div:nth-child(9) { grid-area: nine; }
.grid-10 div:nth-child(10) { grid-area: ten; }
.grid-10 div:nth-child(11) { grid-area: eleven; }
