.whyBanner {
  background: url("../images/addCulture/categories/whyBanner.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

@media (max-width: 4000px) {
  .whyBanner {
    background-size: 1930px;
  }
}

@media (max-width: 2560px) {
  .whyBanner {
    background-size: 1700px;
  }
}
