.get_in_touch .row{
    padding: 60px 0px;
}
.get_in_touch a{
    color: #606060;
    text-decoration: underline;
}
.get_in_touch .up__arrow{
/* cursor: pointer; */    position: relative;
    top: 10px;
    opacity: 0;
}
.get_in_touch .black__arrow svg path{
    fill: #000000;

}
input{
    background: transparent;
    border: none;
    margin: 40px 0 10px!important;
    border-bottom: 3px solid #4C4C4C;
    padding-bottom: 10px;
    width: 90%;
}
.form__messages{
    margin-bottom: 20px;
    min-height: 15px;
}
.getintouch__subtitle svg{
    margin-left: 15px;
}
.get__wrapper{
    display: flex;
    flex-direction: column;
}
.get_in_touch .black__arrow svg text{
    font-family: LucidaGrande-Bold, Lucida Grande;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.001em;
}
.form__success{
    display: none;
    color: yellowgreen;
}
.form__email__wrong{
    display: none;
    color: red;
}
.form__error{
    display: none;
    color: red;
}
@media(max-width:768px){
    .get__wrapper h2{
        position: relative;
        left: -20px;
    }
}
@media(max-width:500px){
    .get__in__touch__wrapper{
        display: none;
    }
    .get_in_touch .row{
        flex-wrap: unset;
    }
    .get_in_touch .row {
        padding: 40px 40px;
    }
}
@media (max-width: 920px) and (orientation: landscape) {
    .get_in_touch{
        display: none;
    }
}