.get_in_touch .row{
    padding: 40px 0px 25px 0;
}
.get_in_touch a{
    color: #606060;
    text-decoration: underline;
}
.get_in_touch .up__arrow{
/* cursor: pointer; */    position: relative;
    top: 10px;
    opacity: 0;
}
.get_in_touch .black__arrow svg path{
    fill: #000000;

}
form{
    position: relative;
}
input{
    background: transparent;
    border: none;
    margin: 40px 0 10px!important;
    border-bottom: 3px solid #4C4C4C;
    padding-bottom: 10px;
    width: 100%;
}
.getintouch__subtitle{
    position: absolute;
    bottom: 0;
    top: 25px;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__messages .form__message{
    margin-bottom: 20px;
    font-size: 12px!important;
    line-height: 15px!important;
    letter-spacing: 0.3px!important;
    font-family: 'Roboto'!important;
    font-weight: 400!important;
    color: #FE0062!important;
    position: absolute;
}
.getintouch__subtitle svg{
    margin-left: 15px;
}
.get__wrapper{
    display: flex;
    flex-direction: column;
}
.get_in_touch .black__arrow svg text{
    font-family: LucidaGrande-Bold, Lucida Grande;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.001em;
}
.form__success{
    color: yellowgreen;
}
.form__email__wrong{
    color: red;
}
.form__error{
    color: red;
}
@media(max-width:768px){
    .get__wrapper h2{
        position: relative;
        left: 5px;
    }
}
@media(max-width:500px){
    .get__in__touch__wrapper{
        display: none;
    }
    .get_in_touch .row{
        flex-wrap: unset;
    }
    .get_in_touch .row {
        padding: 40px 40px;
    }
}
@media (max-width: 920px) and (orientation: landscape) {
    .get_in_touch{
        display: none;
    }
}