
.hero__component{
    position: fixed;
    min-height: 100vh;
    height: auto;
    width: 100%;
    z-index: 8;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__component .hero__subtitle{
    padding-top: 45px;
}
.hero__component .container__custom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.hero__component.dark .container__custom .row .separator{
    background: white;
}
/* .hero__component.light .container__custom .row{
    border-top: solid 2px  #000000;
} */
.hero__component.dark{
    background: #000000;
    color: white;
}
.hero__component.light{
    background: #F4F4F4;
    color: #000000;
}
.hero__component .hero__extra__info{
    position: relative;
    top: 100px;
}
.hero__component .hero__extra__info p{
    font-size: 14px;
    line-height: 16px;
}
.hero__component .hero__title{
    margin-top: 30px;
}
.hero__component .separator{
    margin-bottom: 30px;
}
@media(max-width: 500px){
    .hero__component{
        position: absolute;
    }
    .hero__component .hero__extra__info p {
        font-size: 12px;
        line-height: 14px;
    }
    .hero__component .xxl__font{
        font-size: 35px!important;
        line-height: 35px;
    }
    .hero__component{
        align-items: unset;
    }
    .hero__component .xxl__font br{
        display: none;
    }
    .hero__component .container__custom {
        margin-top: 50%;
        margin-bottom: 100px;
    }
    .hero__component .hero__subtitle {
        padding-top: 25px;
    }
    .hero__component .hero__title {
        margin-top: 150px;
    }
    .hero__component .hero__extra__info {
        position: relative;
        top: 140px;
    }
    .hero__component .container-fluid{
        padding: 42px;
    }
}
@media(max-width: 360px){
    .hero__component .hero__extra__info {
        position: relative;
        top: 0;
        margin-top: 90px;
    }
}
@media (max-width: 920px) and (orientation: landscape) {
    .hero__component .hero__extra__info {
        display: none;
    }
    .hero__component .separator.full {
        width: 50%;
    }
}