.menu__full__screen{
    background: #f4f4f4;
    left: -200%;
    transition: left 1s cubic-bezier(0.85, 0, 0.15, 1)!important;
    z-index: 999;
    padding: 0px;
    max-width: 100%!important;
}
#menu__full__screen.show{
    left: 0%;
    pointer-events: all;
}
.menu__full__screen.floating__web__info p{
    color: #000000;
}
.menu__full__screen .copyright__inner {
    display: none;
}
.menu__full__screen.show .copyright__inner {
    display: block;
}
.menu__full__screen.floating__web__info .copyright__column p:before{
    background: #000000;
}
.menu__full__screen.floating__web__info ,.menu__full__screen .copyright__column{
    mix-blend-mode: unset;
}
.menu__full__screen.floating__web__info .brand p{
    color: #f4f4f4;
}
.menu__agreements a {
    letter-spacing: 0px!important;
}
@media(max-width: 4000px){
    .menu__full__screen .main__page__menu a{
        font-size: 60px;
        color: #000000;
        font-weight: bold;
        line-height: 62px;
        letter-spacing: -3.5px;
    }
}
@media(max-width: 2000px){
    .menu__full__screen .main__page__menu a{
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -3.5px;
    }
}
.menu__full__screen .main__page__menu .floating-menu{
    width: 100%;
    padding-top: 0px;
}
.menu__full__screen .main__page__menu a:hover{
    color: #FE0062;
}
@media(max-width: 4000px){
    .menu__full__screen .copy__one__column__extra__menu{
        position: absolute;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu__email {
        position: relative;
        top: 0;
    }
}
@media(max-width: 2000px){
    .menu__full__screen .copy__one__column__extra__menu{
        position: absolute;
        top: 6%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu__social{
        margin-top: 30px;
    }
    .menu__email {
        position: relative;
        margin-top: 100px;
    }
}


.menu__full__screen .copy__one__column__extra__menu .menu__section__title{
    margin: 20px 0;
}
.menu__full__screen .copy__one__column__extra__menu a{
    color: #000000;
}
.menu__full__screen .copy__one__column__extra__menu a:hover{
    color: #FE0062;
}
.menu__full__screen .copy__one__column__extra__menu a:hover p{
    color: #FE0062;
}
.menu__agreements p{
    position: absolute;
    left: 20px;
    bottom: 0px;
    font-size: 13px!important;
}
.menu__agreements a{
    font-size: 13px!important;
    text-decoration: underline;
}
@media(max-width: 1440px){

.menu__full__screen .copy__one__column__extra__menu{
    top: 3%;
}
}
@media(max-width: 1280px){
    .menu__full__screen .main__page__menu a {
        font-size: calc(3vw + 3vh);
    }
    .menu__full__screen .copy__one__column__extra__menu{
        top: 0%;
    }
}
@media(max-width: 1024px){
    .menu__full__screen .main__page__menu a {
        font-size: calc(2vw + 2.5vh);
        line-height: calc(0.5vw + 4vh);
    }
    .menu__full__screen .copy__one__column__extra__menu {
        top: -3%;
        height: 650px;
    }
    
}
@media(max-width: 800px){
    .menu__full__screen .main__page__menu a {
        font-size: calc(1vw + 2.5vh);
        line-height: calc(0.5vw + 4vh);
    }  
    .menu__full__screen .copy__one__column__extra__menu {
        top: -6%;
        height: 450px;
    }
    .menu__agreements p {
        bottom: 60px;
    }
    .floating__web__info .copyright__column p {
        position: absolute;
        top: -90px;
        left: -260px;
        width: 200px;
    }
}
@media(max-width: 768px){
    .menu__full__screen .main__page__menu a {
        font-size: calc(1vw + 2.5vh);
        line-height: calc(0.5vw + 4vh);
    }  
    .menu__full__screen .copy__one__column__extra__menu .menu__section__title {
        margin: 8px 0;
    }
}
@media(max-width: 800px){
    .menu__full__screen .main__page__menu a {
        font-size: 50px;
        line-height: 50px;
    }  
}
@media(max-width: 500px){
    .menu__full__screen{
        padding: 0px;
    }
    .menu__full__screen .row{
        display: flex;
        flex-wrap: unset;
        flex-direction: column;
    }
    .menu__agreements p {
        bottom: unset;
        top: 115%;
        z-index: 999;
    }
    .floating__web__info .copyright__column{
        display: none!important;
    }
    .menu__full__screen .copyright__column{
        display: none!important;
    }
    .menu__full__screen.show .copyright__column{
        display: block!important;
    }
    .menu__full__screen.show .copyright__column > div {
        position: fixed;
        width: 100px;
        bottom: -30px;
        right: -215px;
    }
    .menu__full__screen .copy__one__column__extra__menu{
        position: absolute;
        right: -169%;
        width: 61%;
        top: 120%;
        z-index: 9;
    }
    .main__page__menu{
        top: 200px;
        position: absolute!important;
        padding: 0 24px;
    }
    .menu__full__screen .main__page__menu a {
        font-size: 54px;
        line-height: 54px;
        letter-spacing: -2px;
        font-family: MarkPro;
    }
    .menu__full__screen .main__page__menu .floating-menu{
        width: 100%;
    }
    .menu__full__screen .main__page__menu .separator.full{
        width: 50%!important;
    }
    .menu__full__screen.floating__web__info p {
        margin: 20px 0;
        font-size: 8.5px;
    }
    .floating__web__info .copyright__column p:before{
        width: 130px;
        left: 0px;
        bottom: -3px;
    }
}
@media(max-width: 360px){
    .main__page__menu {
        top: 200px;
        left: 5px;
    }
    .menu__full__screen .main__page__menu a {
        font-size: 30px;
        line-height: 3px;
    }
    .brand__menu__toggle{
        position: fixed;
        top: 62%;
        left: 7px;
    }
    .menu__full__screen .copyright__column > div {
        position: fixed;
        width: 100px;
        bottom: -40px;
        right: -215px;
    }
}
@media(max-height: 480px){
    .menu__full__screen .main__page__menu a {
        font-size: 16px;
        line-height: 3px;
    
    }
    .menu__full__screen.floating__web__info p {
        margin: 10px 0;
    }
    .menu__agreements p {
        left: 25px;
    }
}