@media(max-width: 4000px){
    .floating__web__info, .menu__full__screen .row{
        max-width: 1600px;
        width: 100%;
        margin: auto;
        left: 0;
        right: 0;
    }
}
@media(max-width: 2000px){
    .floating__web__info, .menu__full__screen .row{
        max-width: 100%;
    }
}
.force__absolute{
    position: absolute!important;
}
.copyright__inner{
    right: 5px;
    width: 201px;
}
.brand__menu__toggle{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.brand__menu__toggle p{
    margin: 0!important;
    position: relative;
    left: 25px;
}
.floating__web__info{
    z-index: 10;
    mix-blend-mode: difference;
}
.floating__web__info{
    top: 0;
}
.brand__menu{
    transition: opacity 0.6s cubic-bezier(0.83, 0, 0.17, 1);

}
.brand__menu.hidden{
    opacity: 0;
}
.floating__web__info .row{
    display: flex;
    flex-wrap: unset;
}
.floating__web__info .col{
    position: relative;
}
.floating__web__info a{
    text-decoration: none;
    color: #F4F4F4;
}

.floating__web__info p{
    color: #F4F4F4;
    width: 90%;
}

.floating__web__info .col{
    height: 100vh;
}

.floating__web__info .brand{
    padding:40px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    mix-blend-mode: difference;

}

.floating__web__info .brand .brand__logo img{
    width: 95px;
    height: auto;
}

.floating__web__info .copyright__column{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    mix-blend-mode: difference;
    position: relative;
}
.floating__web__info .brand > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.floating__web__info .brand__menu{
    position: relative;
    top: 0%;
}

.floating__web__info .brand__menu p{
    margin: 0 0 15px 0;
}

.floating__web__info .brand__social{
    position: relative;
    top: -4.5%;
}
.brand__menu__toggle svg{
    width: 18px;
}
.floating__web__info .brand__social .brand__social__network{
    max-width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.floating__web__info .copy__one__column, .floating__web__info .copy__two__column{
    padding: 40px 20px;
}

 

.floating__web__info .copyright__column p{
    position: relative;
    top: -35px;
    left: unset;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    font-weight: 400;
    right: 0;
}

.floating__web__info .copyright__column p:before{
    content: "";
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 2px;
    background: #F4F4F4;
    left: -0px;
}
.black svg path{
    fill: black!important
    ;
}
.black p, .black a {
    color: black!important;
}
.menu__subitem {
    margin-left: 15px;
}
@media(max-width:1024px){
    .floating__web__info p{
        width: 60%;
    }
}
@media(max-width: 768px){
    .floating__web__info p{
        width: 100%;
    }
}
@media(max-width: 500px){
    .column__top__one, .column__top__two{
        position: absolute!important;
    }
    .floating__web__info p {
        width: 100%;
    }
    .floating__web__info .copyright__column p {
        left: -40px;
    }
    .floating__web__info .brand {
        padding: 25px;
    }
    .floating__web__info .brand > div{
        position: static;
    }
    .copy__one__column{
        left: 15px;
        position: absolute;
        top: 60px;
        font-size: 8px;
    }
    .floating__web__info .copy__one__column, .floating__web__info .copy__two__column {
        padding: 30px 12px;
    }
    .copy__two__column{
        position: absolute!important;
        top: 60px;
        right: -22px;
        font-size: 8px;
    }

    .menu__full__screen .brand__social {
        position: absolute;
        top: unset;
        display: flex!important;
        width: 100%;
        bottom: 50px;
        left: 0;
        padding: 24px;
        flex-direction: row!important;
        background: #0f0f0f;
        mix-blend-mode: unset!important;
    }
    .floating__web__info .brand__social .brand__social__network {
        margin: 0 35px 0 0;
    }
    .menu__email, .menu__social{
        display: none;
    }
    .copyright__column > div{
        position: absolute;
        width: 100px;
    }
    .floating__web__info .copy__one__column{
        position: absolute;
        width: 45%;
    }
    .floating__web__info .copy__two__column{
        position: absolute!important;
        width: 45%;
        right: 15px;
    }
    .brand__menu__toggle{
        position: fixed;
         left: 5px;
        z-index: 99999;
    }
    .floating__web__info .brand__menu{
        position: unset;
    }
    .menu__full__screen  .brand__menu{
        position: fixed;
        height: 100%;
        left: 5px;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    .menu__full__screen  .brand__menu__toggle {
        position: unset!important;
        top: unset!important;
        bottom: unset!important;
        left: unset!important;
    }
    .lateral__click{
        position: fixed;
        left: 0;
        width: 20px;
        height: 100%;
        z-index: 999999999;
        cursor: pointer;
        pointer-events: all;
    }
}
@media(max-width: 360px){
    .copy__two__column {
        right: -8px;
    }
    .menu__full__screen .main__page__menu a {
        font-size: 30px;
        line-height: 10px;
    }
    .menu__agreements p {
        top: 131%!important;
    }
    .floating__web__info .brand__social .brand__social__network {
        margin: 0 20px 0 0;
    }
}
@media(max-height: 736px){
    .menu__agreements p {
        top: 105%!important;
    }
}
@media(max-height: 667px){
    .menu__agreements p {
        top: 92%!important;
    }
}
@media(max-height: 667px){
    .menu__agreements p {
        top: 92%!important;
    }
}