@font-face {
    font-display: swap;
    font-family: 'MarkPro';
    src: url('MarkPro-Black.woff2') format('woff2'),
        url('MarkPro-Black.woff') format('woff'),
        url('MarkPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'MarkPro-Book';
    src: url('MarkPro-Book.woff2') format('woff2'),
        url('MarkPro-Book.woff') format('woff'),
        url('MarkPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'MarkPro';
    src: url('MarkPro.woff2') format('woff2'),
        url('MarkPro.woff') format('woff'),
        url('MarkPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'MarkPro';
    src: url('MarkPro_1.woff2') format('woff2'),
        url('MarkPro_1.woff') format('woff'),
        url('MarkPro_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'MarkPro';
    src: url('MarkPro-BoldItalic.woff2') format('woff2'),
        url('MarkPro-BoldItalic.woff') format('woff'),
        url('MarkPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'MarkPro';
    src: url('MarkPro-Bold.woff2') format('woff2'),
        url('MarkPro-Bold.woff') format('woff'),
        url('MarkPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'MarkPro';
    src: url('MarkPro-BlackItalic.woff2') format('woff2'),
        url('MarkPro-BlackItalic.woff') format('woff'),
        url('MarkPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

