
@media(max-width:4000px){
    .about__wrapper {
      margin-top: 10%;
    }
}
@media(max-width:2000px){
    .about__wrapper {
      margin-top: 25%;
    }
}
.about__rx{
    margin-top: 7%;
    position: relative;
    left: -2px;
}
.work__areas__area{
    padding-top: 1.1%;
}
@media(max-width:500px)
{
.work__areas__area{
  display: none;
}
}