@font-face {
    font-family: 'Schnyder L';
    src: url('SchnyderL-BoldItalic.woff2') format('woff2'),
        url('SchnyderL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('SchnyderL-Bold.woff2') format('woff2'),
        url('SchnyderL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('SchnyderL-DemiItalic.woff2') format('woff2'),
        url('SchnyderL-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('SchnyderL-Demi.woff2') format('woff2'),
        url('SchnyderL-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('SchnyderL-Light.woff2') format('woff2'),
        url('SchnyderL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder L';
    src: url('SchnyderL-LightItalic.woff2') format('woff2'),
        url('SchnyderL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('SchnyderM-Bold.woff2') format('woff2'),
        url('SchnyderM-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('SchnyderM-BoldItalic.woff2') format('woff2'),
        url('SchnyderM-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('SchnyderM-DemiItalic.woff2') format('woff2'),
        url('SchnyderM-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('SchnyderM-LightItalic.woff2') format('woff2'),
        url('SchnyderM-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('SchnyderM-Demi.woff2') format('woff2'),
        url('SchnyderM-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder M';
    src: url('SchnyderM-Light.woff2') format('woff2'),
        url('SchnyderM-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-BoldItalic.woff2') format('woff2'),
        url('SchnyderS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-Demi.woff2') format('woff2'),
        url('SchnyderS-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-Bold.woff2') format('woff2'),
        url('SchnyderS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-DemiItalic.woff2') format('woff2'),
        url('SchnyderS-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('SchnyderXL-BoldItalic.woff2') format('woff2'),
        url('SchnyderXL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-Light.woff2') format('woff2'),
        url('SchnyderS-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('SchnyderXL-Bold.woff2') format('woff2'),
        url('SchnyderXL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder S';
    src: url('SchnyderS-LightItalic.woff2') format('woff2'),
        url('SchnyderS-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('SchnyderXL-Demi.woff2') format('woff2'),
        url('SchnyderXL-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('SchnyderXL-DemiItalic.woff2') format('woff2'),
        url('SchnyderXL-DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('SchnyderXL-LightItalic.woff2') format('woff2'),
        url('SchnyderXL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schnyder XL';
    src: url('SchnyderXL-Light.woff2') format('woff2'),
        url('SchnyderXL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

