.fusion-beauty .about{
    margin: 100px 0 50px
}
.fusion-beauty .image__from__gallery{
    margin: 25px 0;
}
.fusion-beauty .image__from__gallery.image-2{
    margin: 0px 0;
}
.fusion-beauty .image__from__gallery.image-3{
    margin: 0px 0;
}