.layer-n #single__one .col-xs-12{
    margin: 50px 0 0 0;
}
.layer-n #single__one .col-xs-12:nth-child(6){
    margin: 0px 0 0 0;
}
.layer-n .about{
    margin: 200px 0 200px;
}
.layer-n #single__two .col-xs-12{
    margin: 150px 0 0 0;
}
.layer-n #single__two .copy{
    margin: 50px 0 0 0;
}
.layer-n #single__two .copy{
    max-width: 250px;
}
.layer-n #single__two .row-4{
    margin-top: -200px;
}
.layer-n #single__two .row-5{
    margin-top: -325px;
}
.layer-n #single__two .row-6{
    margin-top: -280px;
}
.layer-n #single__two .row-4 .copy{
    margin: 150px 0 0 0;
}
.layer-n #single__two .row-5 .copy{
    margin: 150px 0 0 0;
}
.layer-n #single__two .row-6 .copy{
    margin: 150px 0 0 0;
}
@media(max-width: 500px){
    .layer-n #single__one .col-xs-12:nth-child(4) {
        align-items: start!important;
        justify-content: start!important;
    }
    .layer-n #single__one .col-xs-12 {
        margin: 30px 0 0 0;
    }
    .layer-n #single__two .col-xs-12 {
        margin: 30px 0 0 0;
    }
    .layer-n #single__two .copy{
        padding: 0px!important;
    }
    .layer-n #single__two .row-4 {
        margin-top: 0px;
    }
    .layer-n #single__two .row-5 {
        margin-top: 0;
    }
    .layer-n #single__two .row-6 {
        margin-top: 0;
    }
    .layer-n #single__two .row-4 .copy {
        margin: 0px 0 0 0;
    }
    .layer-n #single__two .row-5 .copy {
        margin: 60px 0 0 0;
    }
    .layer-n #single__two .row-6 .copy {
        margin: 80px 0 0 0;
    }
}
.stm .c-00A99D.project__header__component{
    background: #00A99D;
    color: white;
}
.stm #single__one .col-xs-12{
    margin: 50px 0 0 0;
}
.stm #single__one .col-xs-12:nth-child(6){
    margin: 0px 0 0 0;
}
.stm .about{
    margin: 200px 0 200px;
}
.stm #single__two .col-xs-12{
    margin: 150px 0 0 0;
}
.stm #single__two .copy{
    margin: 50px 0 0 0;
}
.stm #single__two .copy{
    max-width: 250px;
}
.stm #single__two .row-7{
    margin-top: -120px;
}
.stm #single__two .row-8{
    margin-top: -325px;
}
.stm #single__two .row-9{
    margin-top: -280px;
}
.stm #single__two .row-7 .copy{
    margin: 150px 0 0 0;
}
.stm #single__two .row-8 .copy{
    margin: 150px 0 0 0;
}
.stm #single__two .row-9 .copy{
    margin: 150px 0 0 0;
}
.stm .copy.right{
    padding: 0 0 0 35px;
}
.stm .copy.left{
    padding: 0 35px 0 0px;
}
.stm .row-second{
    margin-top: 0!important;
}
.stm .row-third{
    margin-top: 0!important;
}
@media(max-width: 768px){
    .stm .project__info {
        margin-top: 0px;
    }
    .stm .project__info__content__data p {
        max-width: 100%;
    }
    .stm #single__one .simple__copy {
        padding-left: 20px;
        padding-right: 20px;
    }
    .stm .copy.right{
        padding: 0 0 0 0px;
    }
    .stm .copy.left{
        padding: 0 0px 0 0px;
    }
    .stm #single__two .col-xs-12 {
        margin: 50px 0 0 0;
    }
}
@media(max-width: 500px){
    .stm #single__one .col-xs-12:nth-child(4) {
        align-items: start!important;
        justify-content: start!important;
    }
    .stm #single__one .col-xs-12 {
        margin: 30px 0 0 0;
    }
    .stm #single__two .col-xs-12 {
        margin: 30px 0 0 0;
    }
    .stm #single__two .copy{
        padding: 0px!important;
    }
    .stm #single__two .row-7 {
        margin-top: 0px;
    }
    .stm #single__two .row-8 {
        margin-top: 0;
    }
    .stm #single__two .row-9 {
        margin-top: 0;
    }
    .stm #single__two .row-7 .copy {
        margin: 0px 0 0 0;
    }
    .stm #single__two .row-8 .copy {
        margin: 60px 0 0 0;
    }
    .stm #single__two .row-9 .copy {
        margin: 80px 0 0 0;
    }
}