.lcb .project__info{
    margin-top: 80px;
}
#section__two.lcb__about{
    margin: 70px 0 100px;
}
#section__three.lcb .gallery img {
    margin-top: 40px;
}
.lcb .section__three__image-0 {
    margin-bottom: 100px;
}
.lcb .section__one__image-1{
    margin-top: 60px;
    margin-bottom: 20px;
}
.lcb .section__one__image-5 {
    margin-top: 40px;
}
@media(max-width: 500px){
    #section__three.lcb{
        padding-bottom: 20px;
    }
}