.sira #single__one .col-xs-12{
    margin: 70px 0 0 0;
}
.sira #single__one .col-xs-9{
    margin: 80px 0 0 0;
}

.sira .section__three__about{
    margin: 200px 0 0px 0;
}
.sira #single__two .col-xs-12 {
    margin: 0px 0 0 0;
}
.sira #single__two .copy{
    margin: 0px 0 0 0;
}
.sira #single__two .copy{
    max-width: 250px;
}
.sira #single__two .row-4{
    margin-top: 300px;
    margin-bottom: 80px;
}
.sira #single__two .row-5{
    margin-top: -325px;
}
.sira #single__two .row-6{
    margin-top: -280px;
}
.sira #single__two .row-4 .copy{
    margin: 0px 0 0 0;
}
.sira #single__two .row-5 .copy{
    margin: 150px 0 0 0;
}
.sira #single__two .row-6 .copy{
    margin: 150px 0 0 0;
}
.sira  .section__four .image-three-0{
    margin: 80px 0 0 0!important;
}
.sira  .section__four .image-three-1{
    margin: 80px 0 0 0!important;
}
.sira  .section__four .image-three-2{
    margin: 80px 0 0 0!important;
}
.sira  .section__four .image-three-3{
    margin: 80px 0 0 0!important;
}
.sira  .section__four .image-three-4{
    margin: 80px 0 0 0!important;
}
.sira .row-2{
    margin-top: -290px;
}
@media(max-width: 1280px){
    .sira .row-2{
        margin-top: -150px;
    }
    .sire #single__two{
        margin-top: -200px;
    }
    .sira #single__two .row-4 {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .sira  .section__four .image-three-0{
        margin: 40px 0 0 0!important;
    }
    .sira  .section__four .image-three-1{
        margin: 40px 0 0 0!important;
    }
    .sira  .section__four .image-three-2{
        margin: 40px 0 0 0!important;
    }
    .sira  .section__four .image-three-3{
        margin: 40px 0 0 0!important;
    }
    .sira  .section__four .image-three-4{
        margin: 40px 0 0 0!important;
    }
}
@media(max-width: 1024px){
    .sira .row-2{
        margin-top: -50px;
    }
}
@media(max-width: 768px){
    #single__one .row.one .copy:nth-child(2) .simple__copy {
        padding-left: 30px;
    }
    .sira .section__three__about{
        margin: 100px 0 0px 0;
    }
    .sira .row-2 {
        margin-top: 50px;
    }
    .sira .row-3 {
        margin-top: 50px;
    }
}
@media(max-width: 500px){
    .sira #single__one .col-xs-12:nth-child(4) {
        align-items: start!important;
        justify-content: start!important;
    }
    .sira .copy, .sira .simple__copy{
        margin: 0px!important;
        padding: 20px 0!important;
        align-items: flex-start!important;
        justify-content: start!important;
    }
    .sira #single__one .col-xs-12 {
        margin: 30px 0 0 0;
    }
    .sira #single__two .col-xs-12 {
        margin: 30px 0 0 0;
    }
    .sira #single__two .copy{
        padding: 0px!important;
    }
    .sira #single__two .row-4 {
        margin-top: 0px;
    }
    .sira #single__two .row-5 {
        margin-top: 0;
    }
    .sira #single__two .row-6 {
        margin-top: 0;
    }
    .sira #single__two .row-4 .copy {
        margin: 0px 0 0 0;
    }
    .sira #single__two .row-5 .copy {
        margin: 60px 0 0 0;
    }
    .sira #single__two .row-6 .copy {
        margin: 80px 0 0 0;
    }
    .sira .section__three__about{
        margin: 50px 0 0px 0;
    }
    .sira .row-2 {
        margin-top: 0px;
    }
    .sira .row-3 {
        margin-top: 0px;
    }
    .sira .spacer{
        display: none;
    }
    
}