
footer{
    padding: 40px 0;
    background: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}
.fixed__footer{
    position: fixed!important;
    z-index: 8!important;
}
footer a{
   text-decoration: none;
   color: #f4f4f4;
}
.mobile__bottom__info{
    display: none;
}
footer .menu__subitem{
    display: none;
}
.footer__menu a{
    margin-left: 5px;
    text-decoration: none;
}
.footer__menu span{
    pointer-events: none;
}
.footer__copyright{
    color: #f4f4f4;
    padding: 0;
}

.legal__menu a{
    margin-left: 5px;
}

.get__in__touch__wrapper {
   background: #EDEDED;
   position: relative;
   z-index: 9;
   margin-bottom: 40px;
}
.legal__menu{
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
}
.footer__menu a{
    position: relative;
}
.footer__menu a:after{
    content: "-";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -8px;
    margin: auto;
    color: white;
    z-index: 9999;
}
.footer__menu a:last-child:after{
    display: none;
}
@media(max-width: 768px){
    .get_in_touch .col-lg-9{
        display: flex;
        align-items: center;
    }
}
@media(max-width: 500px){
    .mobile__bottom__info{
        display: flex;
    }
    .fixed__footer{
        position: relative!important;
        z-index: 8!important;
        margin-top: 100px;
    }
    footer {
        padding: 0px;
    }
    footer .col-xs-12{
        display: none!important;
    }
    .get_in_touch {
        padding: 30px 15px!important;
    }
    .footer > div > .row{
        flex-direction: column;
    }
    .mobile__copyright {
        color: #f4f4f4;;
    }
    .mobile__social img{
        height: 17px;
        width: 17px;
    }
    .mobile__bottom__info .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .mobile__bottom__info .col-xs-6{
        width: 50%;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    footer{
        background: #EDEDED;
        color: black;
    }
    .mobile__copyright{
        color: black;
    }
    .mobile__bottom__info .brand__social{
        display: flex!important;
        flex-direction: unset!important;
    }
    .mobile__bottom__info .brand__social a{
        margin: 0 35px 0 0;
    }
    .mobile__bottom__info{
        padding: 30px 0 30px;
        flex-direction: unset!important;
    }
    .mobile__copyright{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile__copyright p{
        position: relative;
    }
    .mobile__copyright p:before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -10px;
        height: 2px;
        background: #000000;
    }
    footer .sm__font{
        font-size: 16px;
    }
    footer .brand__social{
        mix-blend-mode: difference;
    }
    footer.dark .brand__social{
        mix-blend-mode: unset;
    }
    footer.dark {
        background: black;
        color: white;
    }
    footer.dark  .mobile__copyright p:before {
        background: white;
    }
    footer.dark .mobile__copyright p {
        color: white;
    }
    .footer__menu{
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        margin: 20px 0;
    }
    .footer__menu p{
        margin: 5px 0;
        font-weight: bold;
    }

}
@media (max-width: 920px) and (orientation: landscape) {
    .footer__menu{
        top: 7px;
        left: 40px;
        position: relative;
    }
    .footer__menu a:after {
        display: none;
    }
}
@media (max-width: 750px) and (orientation: landscape) {

    .footer__menu{
        position: relative;
        top: 0px;
        left: 40px;
    }
    .footer__menu a:after {
        display: none;
    }
}
