
footer{
    padding: 20px 0;
    background: #000000;
    position: relative;
}
footer a{
   text-decoration: none;
   color: #f4f4f4;
}
footer .menu__subitem{
    display: none;
}
.footer__menu a{
    margin-left: 5px;
    text-decoration: none;
}
.footer__menu span{
    pointer-events: none;
}
.footer__copyright{
    color: #f4f4f4;
    padding: 0;
}

.legal__menu a{
    margin-left: 5px;
}
@media(max-width: 500px){
    footer {
        padding: 50px 0 20px;
    }
    .footer__copyright{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .get_in_touch {
        padding: 30px 15px!important;
    }
    .footer > div > .row{
        flex-direction: column;
    }
    .mobile__copyright {
        color: #f4f4f4;;
    }
    .mobile__social img{
        height: 17px;
        width: 17px;
    }
    .mobile__bottom__info .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .mobile__bottom__info .col-xs-6{
        width: 50%;
    }
    .mobile__bottom__info .brand__social{
        display: flex!important;
        flex-direction: unset!important;
    }
    .mobile__bottom__info .brand__social a{
        margin-left: 15px;
    }
    .mobile__bottom__info{
        padding: 30px 0;
        flex-direction: unset!important;
    }
    .mobile__copyright{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile__copyright p{
        position: relative;
    }
    .mobile__copyright p:before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -10px;
        height: 2px;
        background: #F4F4F4;
    }
}