.navbar {
  padding: 30px 40px;
  position: fixed;
  width: 100%;
  background: none;
  z-index: 99;
}

.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navToggler {
  flex-grow: 0.3;
}

.brand__logo {
  width: 73%;
  font-family: "ITC Avant Garde Pro Md", sans-serif;
  color: #222220;
  text-decoration: none;
}

.brand__logo:hover {
  text-decoration: none !important;
}

.brand__logo h1 {
  margin: 0;
}

.explore {
  font-family: "ITC Avant Garde Pro Bk", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18.32px;
  font-style: normal;
}

@media (max-width: 480px) {
  .navToggler {
    flex-grow: 0.5;
  }
  .explore {
    display: none;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .explore {
    display: none;
  }
}
@media (max-width: 375px) and (max-height: 812px) {
  .explore {
    display: none;
  }
}

@media (max-width: 360px) {
  .navToggler {
    flex-grow: 0.8;
  }
}

@media (max-width: 280px) {
  .navToggler {
    flex-grow: 0.5;
  }
  .brand__logo {
    flex-grow: 1;
  }
}
