.navbar.container-fluid {
  padding: 30px 40px;
  position: fixed;
  width: 100%;
  background: none;
  z-index: 99;
}

.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navToggler {
  flex-grow: 0.3;
}

.brand__logo {
  font-family: "ITC Avant Garde Pro Md", sans-serif;
  color: #222220;
  text-decoration: none;
}

.brand__logo:hover {
  text-decoration: none !important;
}

.brand__logo h1 {
  margin: 0;
}

.explore {
  font-family: "ITC Avant Garde Pro Bk", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18.32px;
  font-style: normal;
}
