.adcFooterWrapper {
  background: #adaea5;
  position: relative;
}

.contentWrapper {
  padding: 5% 12%;
  font-family: "ITC Avant Garde Pro Md", sans-serif;
  color: #222220;
}

.footerGreeting {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5%;
}

.footerArrow {
  width: 200px;
}

.join {
  font-size: 40px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social-container a {
  margin-right: 40px;
}

.confirm {
  background: #fcc6c6;
  width: 700px;
  height: 600px;
  position: fixed;
  padding: 5%;
  left: 28%;
  top: 35%;
  margin-top: -150px;
  z-index: 9999;
}

.confirm .close {
  position: absolute;
  left: 100%;
  top: -7%;
}

.confirm .hey {
  font-family: "Schnyder L";
  font-weight: 300;
  font-size: 60px;
  line-height: 126px;
}

.confirm .thanks {
  font-family: "ITC Avant Garde Pro Md";
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 65px;
}
.confirm .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 290px !important;
  border: 1px solid #222220;
  border-radius: 40px;
  padding: 10px 20px;
  margin: 10vh auto;
  box-sizing: border-box;
}

.confirm .done {
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 4000px) {
  .confirm {
    left: 45%;
    height: auto;
  }

  .confirm .button-container {
    margin: 0 auto;
  }
}

@media (max-width: 2560px) {
  .confirm {
    left: 40%;
  }
  .confirm .button-container {
    margin: 0 auto;
  }
}

@media (max-width: 1920px) {
  .confirm {
    left: 35%;
  }
  .confirm .button-container {
    margin: 5vh auto;
  }
}

@media (max-width: 1600px) {
  .confirm {
    left: 30%;
  }
}

@media (max-width: 1366px) {
  .confirm {
    width: 500px;
    left: 30%;
  }

  .confirm .hey {
    font-size: 50px;
    line-height: 110px;
  }

  .confirm .thanks {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 1024px) {
  .confirm {
    left: 25%;
  }
}

@media (max-width: 768px) {
  .confirm {
    left: 18%;
  }
}

@media (max-width: 540px) {
  .confirm {
    width: 350px;
    top: 45%;
  }

  .confirm .close {
    left: 102%;
    top: -10%;
  }

  .confirm .hey {
    font-size: 40px;
    line-height: 100px;
  }

  .confirm .thanks {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .join {
    font-size: 22px;
    line-height: 20px;
  }

  .confirm {
    width: 320px;
    left: 8%;
    top: 40%;
  }

  .confirm .button-container {
    width: 260px !important;
  }
}

@media (max-width: 375px) {
  .confirm {
    width: 300px;
    left: 5%;
  }

  .confirm .hey {
    font-size: 30px;
    line-height: 90px;
  }

  .confirm .thanks {
    font-size: 30px;
    line-height: 30px;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
